@import url(https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@300&display=swap);

@import url(components/container.css);
@import url(components/button-green.css);
@import url(components/titleline.css);
@import url(components/banner.css);
@import url(components/button-beige.css);
@import url(components/card.css);
@import url(components/avatar.css);
@import url(components/list-inline.css);
@import url(components/search-bar.css);
@import url(components/ordersummary.css);
@import url(components/scrollmenu.css);


body {
	font-family: 'Montserrat', sans-serif;
	font-size:  18px;
	background-color: #F1EEE6;
}
h1, h2, h3{
	font-family: 'Libre Baskerville', sans-serif;
	font-weight:  bold;
}
a {
	text-decoration: none;
}
h1 span{
    background: #F1EEE6; 
    padding:0 10px;
}
a{
	text-decoration: none;
	color: #A5B99C;
	font-weight: bolder;
}
a:hover{
	color: black;
}
