.btn-beige-createaccountwhensigningin{
	background-color: #E5E5E5;
	font-size: 20px;
	padding: 10px 20px;
	border-radius: 4px;
	color: black;
	font-weight: 700;
	line-height: 32px;
	font-family: 'Libre Baskerville';
	margin-top: 60px;
}

.btn-beige:hover {
	background-color: #495d53;
	transition: background-color 0.1s;
}