.category-order-summary {
    list-style: none;
    padding-left: 30px;
    margin-bottom: 1px;
    margin-top: 1px
    text-align: left;
    font-weight:  bold;
    }

.category-order-summary li{
    display: inline-block;
    padding: 60px;
}

.category-order_summary i{
    font-size: 50px;
    color: rgb(96, 119, 85);
    display: table-cell;
}
