.item-basket {
    list-style: none;
    padding-left: 15px;
    margin-bottom: 10px;
    text-align: left;
    }

.item-basket li{
    display: inline-block;
    padding: 10px;
}

.item-basket i{
    font-size: 50px;
    color: rgb(96, 119, 85);
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
