.category-basket {
    list-style: none;
    padding-left: 15px;
    margin-bottom: 10px;
    text-align: left;
    }

.category-basket li{
    display: inline-block;
    padding: 15px;
}

.category-basket i{
    font-size: 50px;
    color: rgb(96, 119, 85);
}
