.item-basket {
    
    display: table; 
  width: 100%; 
  table-layout: fixed; 
  word-spacing: -2em;
    }

.item-basket li{
    display: inline-block;
    padding: 0px;
    width 200px;
}

.item-basket i{
    font-size: 50px;
    color: rgb(96, 119, 85);
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
