.scrollmenu {
  background-color: #F1EEE6;
  overflow: auto;
  white-space: nowrap;
  margin: 0 auto;
}

.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.scrollmenu a:hover {
  background-color: #F1EEE6;
  color: #A5B99C;
}
