.types-of-costs {
	display: flex;
	flex-wrap: wrap;
}

.card types-of-costs {
	width: 50px;
	padding-left: 20px;
	font-size: 18px;
	text-align: left;
}

.card list-of-prices {
	width: 50px;
	padding-right: 20px;
	font-size: 18px;
	text-align: right;
}